<div class="media box" style=" padding: 5px">
    <a class="pull-left" href="index-detail.html">
        <img src="http://placehold.it/64x64">
    </a>
    <div class="media-body">
        <strong class="media-heading">Twitter</strong>
        <p>Devs</p>
        * * * *
    </div>
</div>