
<div class="container">


    <% @apps.each do |app| %>
    <div class="media box" style=" padding: 5px">
        <a class="pull-left" href="index-detail.html">
            <img class="card-img" src="http://placehold.it/75x75">
        </a>
        <div class="media-body">
            <p class="app-name-list"><%= link_to app.name, get_app_path({:id => app.package})%></p>
            <p class="dev-name-list"><%= app.developer%></p>

            <div class="stars-container">
                <div class="tiny-star">
                    <div class="current-rating" style="width: 78.47838401794434%;">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <% end %>
</div>

