
<div class="row-fluid">
    <div class="col-xs-3 col-sm-3 box" >
        <a  href="index-detail.html">
            <img src="http://placehold.it/74x74">
        </a>
        <div class="media-body">
            <p class="media-heading">Twitter</p>

            * * * *
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 box" >
        <a  href="index-detail.html">
            <img src="http://placehold.it/74x74">
        </a>
        <div class="media-body">
            <p class="media-heading">Twitter</p>

            * * * *
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 box" >
        <a  href="index-detail.html">
            <img src="http://placehold.it/74x74">
        </a>
        <div class="media-body">
            <p class="media-heading">Twitter</p>

            * * * *
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 box" >
        <a  href="index-detail.html">
            <img src="http://placehold.it/74x74">
        </a>
        <div class="media-body">
            <p class="media-heading">Twitter</p>

            * * * *
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 box" >
        <a  href="index-detail.html">
            <img src="http://placehold.it/74x74">
        </a>
        <div class="media-body">
            <p class="media-heading">Twitter</p>

            * * * *
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 box" >
        <a  href="index-detail.html">
            <img src="http://placehold.it/74x74">
        </a>
        <div class="media-body">
            <p class="media-heading">Twitter</p>

            * * * *
        </div>
    </div>

</div>

<!--<div class="row-fluid">-->
    <!--<div class="col-xs-4 col-sm-3 box" style=" margin: auto;">-->
        <!--<a  href="index-detail.html">-->
            <!--<img src="http://placehold.it/64x64">-->
        <!--</a>-->
        <!--<div class="media-body">-->
            <!--<strong class="media-heading">Twitter</strong>-->
            <!--<p>Devs</p>-->
            <!--* * * *-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-4 col-sm-3 box" style=" margin: auto;">-->
        <!--<a  href="index-detail.html">-->
            <!--<img src="http://placehold.it/64x64">-->
        <!--</a>-->
        <!--<div class="media-body">-->
            <!--<strong class="media-heading">Twitter</strong>-->
            <!--<p>Devs</p>-->
            <!--* * * *-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-4 col-sm-3 box" style=" margin: auto;">-->
        <!--<a  href="index-detail.html">-->
            <!--<img src="http://placehold.it/64x64">-->
        <!--</a>-->
        <!--<div class="media-body">-->
            <!--<strong class="media-heading">Twitter</strong>-->
            <!--<p>Devs</p>-->
            <!--* * * *-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-xs-4 col-sm-3 box" style=" margin: auto;">-->
        <!--<a  href="index-detail.html">-->
            <!--<img src="http://placehold.it/64x64">-->
        <!--</a>-->
        <!--<div class="media-body">-->
            <!--<p class="media-heading">Twitter</p>-->
            <!--<p>Devs</p>-->
            <!--* * * *-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
