<ul class="horizontal-slide">
    <li class="span2">
        <a href="#" class="thumbnail-prvw">
            <img src="http://placehold.it/110x150" alt="" />
        </a>
    </li>
    <li class="span2">
        <a href="#" class="thumbnail-prvw">
            <img src="http://placehold.it/110x150" alt="" />
        </a>
    </li>
    <li class="span2">
        <a href="#" class="thumbnail-prvw">
            <img src="http://placehold.it/110x150" alt="" />
        </a>
    </li>
    <li class="span2">
        <a href="#" class="thumbnail-prvw">
            <img src="http://placehold.it/180x100" alt="" />
        </a>
    </li>
    <li class="span2">
        <a href="#" class="thumbnail-prvw">
            <img src="http://placehold.it/180x100" alt="" />
        </a>
    </li>

</ul>
<p>* * * * *<br>
    100,000,000+ downloads
</p>
<hr>

<div class="row">
    <h4>Description</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate distinctio dolorem, est facere id ipsa magni modi molestias natus nemo nobis nostrum odio provident quasi qui repellat velit, veritatis!</p>
</div>
<hr>
<div class="row">
    <h4>Reviews</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate distinctio dolorem, est facere id ipsa magni modi molestias natus nemo nobis nostrum odio provident quasi qui repellat velit, veritatis!</p>
</div>

<div class="media" style=" padding: 5px">
    <a class="pull-left" href="#">
        <img src="http://placehold.it/64x64" class="img-circle">
    </a>
    <div class="media-body">
        <strong class="media-heading">Javier</strong>
        <p>* * * *</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut autem blanditiis dolorum explicabo illo inventore laborum maiores nam necessitatibus neque nihil, obcaecati officiis, quae qui quidem quo unde voluptate!
        </p>
    </div>
</div>
<hr>
<div class="row">
    <h4>Delevoper</h4>
    <hr>
    <p><span class="glyphicon glyphicon-search"></span> web</p>
    <hr>
    <p><span class="glyphicon glyphicon-envelope"></span> email</p>
</div>
<hr>